# Quick Exploratory Data Analysis

This notebook performs a short, reproducible EDA of the dataset in `data/dataset` (x_train, x_test, y_train, sample_submission). It focuses on shape, basic statistics, missingness, class balance and a few simple plots.

# (Use of Pandas !! To remove for submission !!)

In [ ]:
import os
import pandas as pd
import numpy as np
import helpers

DATA_DIR = os.path.join('data', 'dataset')
print('Data dir:', os.path.abspath(DATA_DIR))

Data dir: /Users/badralmahouri/Documents/uni/EPFL/Master/ML/CS-433-ML-Course-Projects/Project 1/data/dataset

In [7]:
import config 

npz = np.load(config.RAW_DATA) 
X_train   = pd.DataFrame(npz["X_train"])
X_test    = pd.DataFrame(npz["X_test"])
y_train   = pd.DataFrame(npz["y_train"])
train_ids = pd.DataFrame(npz["train_ids"])
test_ids  = pd.DataFrame(npz["test_ids"])

In [49]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,311,312,313,314,315,316,317,318,319,320
0,53.0,11.0,11162015.0,11.0,16.0,2015.0,1100.0,2.015016e+09,2.015016e+09,NaN,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
1,33.0,12.0,12152015.0,12.0,15.0,2015.0,1200.0,2.015004e+09,2.015004e+09,1.0,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,NaN,NaN,NaN
2,20.0,10.0,10202015.0,10.0,20.0,2015.0,1100.0,2.015006e+09,2.015006e+09,1.0,...,4.0,2.0,2.0,2.0,3.0,1.0,1.0,1.0,2.0,2.0
3,42.0,6.0,6182015.0,6.0,18.0,2015.0,1100.0,2.015005e+09,2.015005e+09,NaN,...,2.0,2.0,2.0,2.0,3.0,1.0,1.0,2.0,2.0,2.0
4,24.0,11.0,11062015.0,11.0,6.0,2015.0,1100.0,2.015005e+09,2.015005e+09,1.0,...,9.0,9.0,3.0,3.0,4.0,1.0,1.0,9.0,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,49.0,7.0,11232015.0,11.0,23.0,2015.0,1100.0,2.015007e+09,2.015007e+09,NaN,...,2.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
328131,51.0,5.0,6082015.0,6.0,8.0,2015.0,1100.0,2.015006e+09,2.015006e+09,NaN,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,1.0
328132,39.0,10.0,10202015.0,10.0,20.0,2015.0,1100.0,2.015005e+09,2.015005e+09,1.0,...,3.0,2.0,3.0,3.0,4.0,1.0,2.0,2.0,2.0,2.0
328133,33.0,12.0,12302015.0,12.0,30.0,2015.0,1100.0,2.015004e+09,2.015004e+09,1.0,...,3.0,2.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
328134,32.0,9.0,9122015.0,9.0,12.0,2015.0,1100.0,2.015001e+09,2.015001e+09,1.0,...,9.0,9.0,2.0,2.0,3.0,1.0,1.0,NaN,NaN,2.0

In [11]:
train_ids

             0
0            0
1            1
2            2
3            3
4            4
...        ...
328130  328130
328131  328131
328132  328132
328133  328133
328134  328134

[328135 rows x 1 columns]

In [16]:
X_train.shape

(328135, 321)

In [17]:
y_train

        0
0      -1
1      -1
2      -1
3      -1
4      -1
...    ..
328130 -1
328131 -1
328132 -1
328133 -1
328134 -1

[328135 rows x 1 columns]

In [19]:
print('Label distribution:')
print(y_train.value_counts(dropna=False))

print('\nProportion:')
print(y_train.value_counts(normalize=True))

Label distribution:
0
-1    299160
 1     28975
Name: count, dtype: int64

Proportion:
0
-1    0.911698
 1    0.088302
Name: proportion, dtype: float64

In [ ]:
print('\nColumns with 0 NaN :')
print(X_train.isna().sum()[X_train.isna().sum() == 10 ].sort_values(ascending=False))

Columns with at least 10 NaN :
14     328103
11     328103
191    327956
147    327907
148    327907
        ...
314      1883
315      1883
238      1883
220        22
217        14
Length: 229, dtype: int64

In [38]:
print('\nColumns with at least ... NaN :')
print(X_train.isna().sum()[X_train.isna().sum() >= len(X_train)/2].sort_values(ascending=False))

Columns with at least ... NaN :
11     328103
14     328103
191    327956
147    327907
148    327907
        ...
93     181400
92     181261
80     171522
79     171212
78     170906
Length: 147, dtype: int64

In [47]:
# Get numeric columns from X_train
num_cols = X_train.select_dtypes(include=[np.number]).columns.tolist()

In [ ]:
# Simple correlation / pairwise (only numeric sample)
if len(num_cols) > 1:
    corr = X_train[num_cols[:20]].corr()
    display(corr)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.000000,-0.019665,-0.006838,-0.007151,0.013403,-0.049458,-0.041682,-0.038158,-0.038158,NaN,0.003548,NaN,NaN,0.019200,-0.082985,0.019526,0.011663,0.015276,NaN,NaN
1,-0.019665,1.000000,0.869030,0.869151,-0.041483,0.219106,0.006589,0.247005,0.247005,NaN,-0.000296,NaN,NaN,-0.007026,-0.090367,-0.005239,-0.007954,0.001542,NaN,NaN
2,-0.006838,0.869030,1.000000,0.999716,-0.029967,-0.245914,0.009891,0.207703,0.207703,NaN,-0.000229,NaN,NaN,-0.043034,-0.077547,-0.003154,-0.006523,0.003074,NaN,NaN
3,-0.007151,0.869151,0.999716,1.000000,-0.053800,-0.244964,0.007175,0.205301,0.205301,NaN,-0.000191,NaN,NaN,-0.041407,-0.075144,-0.003967,-0.007169,0.002593,NaN,NaN
4,0.013403,-0.041483,-0.029967,-0.053800,1.000000,-0.029514,0.113400,0.091966,0.091966,NaN,-0.001533,NaN,NaN,-0.065584,-0.109162,0.033587,0.026789,0.019679,NaN,NaN
5,-0.049458,0.219106,-0.245914,-0.244964,-0.029514,1.000000,0.047283,0.109941,0.109941,NaN,-0.001514,NaN,NaN,0.061789,NaN,0.009919,0.007252,0.006527,NaN,NaN
6,-0.041682,0.006589,0.009891,0.007175,0.113400,0.047283,1.000000,0.054175,0.054175,NaN,0.003415,NaN,NaN,-0.016282,0.010536,0.005666,0.002121,0.006210,NaN,NaN
7,-0.038158,0.247005,0.207703,0.205301,0.091966,0.109941,0.054175,1.000000,1.000000,NaN,0.001480,NaN,NaN,-0.066910,-0.075258,-0.002158,-0.003205,0.000809,NaN,NaN
8,-0.038158,0.247005,0.207703,0.205301,0.091966,0.109941,0.054175,1.000000,1.000000,NaN,0.001480,NaN,NaN,-0.066910,-0.075258,-0.002158,-0.003205,0.000809,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.003548,-0.000296,-0.000229,-0.000191,-0.001533,-0.001514,0.003415,0.001480,0.001480,NaN,1.000000,NaN,NaN,-0.003619,NaN,-0.008848,-0.010391,-0.004395,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0.019200,-0.007026,-0.043034,-0.041407,-0.065584,0.061789,-0.016282,-0.066910,-0.066910,NaN,-0.003619,NaN,NaN,1.000000,0.196763,-0.000153,0.000278,0.000017,NaN,NaN
14,-0.082985,-0.090367,-0.077547,-0.075144,-0.109162,NaN,0.010536,-0.075258,-0.075258,NaN,NaN,NaN,NaN,0.196763,1.000000,NaN,-0.887151,0.887151,NaN,NaN
15,0.019526,-0.005239,-0.003154,-0.003967,0.033587,0.009919,0.005666,-0.002158,-0.002158,NaN,-0.008848,NaN,NaN,-0.000153,NaN,1.000000,0.753761,0.631082,NaN,NaN
16,0.011663,-0.007954,-0.006523,-0.007169,0.026789,0.007252,0.002121,-0.003205,-0.003205,NaN,-0.010391,NaN,NaN,0.000278,-0.887151,0.753761,1.000000,-0.034041,NaN,NaN
17,0.015276,0.001542,0.003074,0.002593,0.019679,0.006527,0.006210,0.000809,0.000809,NaN,-0.004395,NaN,NaN,0.000017,0.887151,0.631082,-0.034041,1.000000,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN